[user]
	name = Baruch Even

[include]
	path = .gitconfig.local

[color]
        diff = auto
        status = auto
        branch = auto
	ui = true
[alias]
	last = cat-file commit HEAD

[core]
        excludesfile = ~/.gitignore
[push]
	default = simple

[credential]
	helper = cache --timeout=3600

[alias]
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)%aN%Creset' --abbrev-commit --date=relative
    inject = "!f() { set -e; HASH=`git show $1 --pretty=format:\"%H\" -q`; shift; git commit -m \"fixup! $HASH\" $*; [ -n \"$(git diff-files)\" ] && git stash && DIRTY=1; git rebase $HASH^^ -i --autosquash; [ -n \"$DIRTY\" ] && git stash pop;}; f"
    latest = for-each-ref --sort=-committerdate refs/heads --format='%(committerdate:relative) %(refname:short)'
